@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-darkBrown;
  }

/* index.css or App.css (depending on where your global styles are defined) */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal overflow */
  width: 100%;
}

body {
  font-family: 'sans-serif'; /* Or your custom font */
  background-color: #f9fafb; /* Tailwind's bg-light */
}

main {
  overflow-x: hidden; /* Prevents horizontal scroll on the main container */
}
